# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# convenience for in-source builders
/build
/include/keen/version.hpp

# Checked in binaries
!/deps/curl/lib/*/*.lib
!/deps/curl/bin/*/*.dll
!/deps/openssl/bin/*/*.dll

# Test case artifacts
/tests/libkeen.db
/tests/libkeen.log
